* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BBBBBB;
}

body div {
    box-shadow: 0 6px 12px -3px #333333;
    border-radius: 30px;
}

.header {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: cornflowerblue;
    /*padding: 20px;*/
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 0;
}

.topnav {
    background-color: #444444;
    /* overflow: hidden; */
    display: flex;
    margin: 0px 5%;
}

.topnav .active {
    background-color: #79c179;
}

.topnav a {
    padding: 20px 20px;
    background-color: inherit;
    color: white;
    font-size: 16px;
    text-align: center;
    /* float: left; */
    display: block;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #AAAAAA;
    color: black;
}

.dropdown {
    /* overflow: hidden; */
    position: relative;
    box-shadow: none;
    border-radius: 0;
    width: 12.5%;
}

.dropdown a {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #444444;
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #AAAAAA;
    color: black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    background-color: #EEEEEE;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 1em;
}

.content h1 {
    margin-top: 1em;
    margin-bottom: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.content-container .scroll-table {
    max-height: 600px;
    overflow-y: auto;
    border-radius: 0;
}

.content-container table {
    border: solid #333333;
    border-top: none;
    border-collapse: collapse;
}

.content-container thead {
    background-color: #79c179;
    border-bottom: solid #333333;
    height: 40px;
}

.content-container tbody tr {
    height: 25px;
}

.content-container tbody tr:nth-child(odd) {
    background-color: #EEEEEE;
}

.content-container tbody tr:nth-child(even) {
    background-color: #CCCCCC;
}

.content-container th, .content-container td {
    width: 125px;
    border-left: solid #333333;
}

tr.champ {
    font-weight: bold;
}

.content-container h2 {
    text-align: left;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: cornflowerblue;
    color: #111111;
    border: solid #333333;
    /* border-bottom-style: none; */
}

.content-container h2 select {
    float: right;
    width: 200px;
    padding: 5px;
    background-color: hsl(0, 0%, 90%);
    font-weight: bold;
    margin-right: 10px;
    border-radius: 30px;
}

.content-container img {
    height: 400px;
    /* max-height: 400px;
    width: 100%; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.content-container svg {
    height: 400px;
    width: auto;
    /* max-height: 400px;
    width: 100%; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.stats {
    box-shadow: none;
    width: fit-content;
    text-align: left;
}

.stats ul {
    background-color: #CCCCCC;
    border-style: solid;
    margin: 0;
    padding: 20px;
    font-size: 20px;
}






.playoffs {
    background-color: #bbbbbb;
    width: fit-content;
    padding: 20px;
}

#playoff-bracket {
    display:flex;
    flex-direction:row;
    /* font-size:small; */
    padding:32px;
    text-align: left;
    margin: 0;
    box-shadow: none;
}

#playoff-bracket .round {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
}

.round .spacer {
    flex-grow:1;
}

.round .spacer:first-child, .round .spacer:last-child {
    flex-grow:.5;
}

.round .game-spacer {
    flex-grow:1;
}

li.game {
    padding-left:20px;
}

li.game.winner {
    font-weight:bold;
}

li.game span {
    float:right;
    margin-right:5px;
}

li.game-top {
    border-bottom:1px solid #111;
}

li.game-spacer { 
    border-right:1px solid #111;
    min-height:40px;
}

li.game-bottom { 
    border-top:1px solid #111;
}