* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #BBBBBB;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas:
    "header header"
    "sidenav content";
    transition: grid-template-columns 0.3s ease;
}

body.collapsed {
    grid-template-columns: 0 1fr;
}

body div {
    box-shadow: 0 6px 12px -3px #333333;
    border-radius: 30px;
}

.header {
    position: sticky;
    top: 0;
    z-index: 10;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;

    border-radius: 0;
}

.header .logo {
    display: block;
    position: absolute;
    top: 10px;
    right: 25px;
    height: 85px;
}

.header .menu-btn {
    position: absolute;
    left: 25px;
    background: none;
    border: none;
    border-radius: 20px;
    color: black;
    padding: 0;
    font-size: 4rem;
    margin-right: 1rem;
    cursor: pointer;
}

.topnav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #444444;
    border-radius: 0;
    padding-top: 8px;
}

.topnav.collapsed {
    overflow: hidden;
}

.topnav .active {
    background-color: #79c179;
}

.topnav a {
    padding: 16px 20px;
    background-color: inherit;
    color: white;
    font-size: 16px;
    text-align: center;
    display: block;
    text-decoration: none;
    border-radius: 20px;
}

.topnav a:hover {
    background-color: #AAAAAA;
    color: black;
}

.dropdown {
    position: relative;
    box-shadow: none;
    /* border-radius: 0; */
    width: 90%;
    margin: 4px 0;
}

.dropdown a {
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #555555;
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #AAAAAA;
    color: black;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    background-color: #EEEEEE;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 1em;
}

.content h1 {
    margin-top: 1em;
    margin-bottom: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.content-container .scroll-table {
    max-height: 600px;
    overflow-y: auto;
    border-radius: 0;
}

.content-container table {
    border: solid #333333;
    border-top: none;
    border-collapse: collapse;
}

.content-container thead {
    background-color: #79c179;
    border-bottom: solid #333333;
    height: 40px;
}

.content-container tbody tr {
    height: 25px;
}

.content-container tbody tr:nth-child(odd) {
    background-color: #EEEEEE;
}

.content-container tbody tr:nth-child(even) {
    background-color: #CCCCCC;
}

.content-container th, .content-container td {
    width: 125px;
    border-left: solid #333333;
}

tr.champ {
    font-weight: bold;
}

.content-container h2 {
    text-align: left;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: cornflowerblue;
    color: #111111;
    border: solid #333333;
    /* border-bottom-style: none; */
}

.content-container h2 select {
    float: right;
    width: 200px;
    padding: 5px;
    background-color: hsl(0, 0%, 90%);
    font-weight: bold;
    margin-right: 10px;
    border-radius: 30px;
}

.content-container img {
    height: 400px;
    /* max-height: 400px;
    width: 100%; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.content-container svg {
    height: 400px;
    width: auto;
    /* max-height: 400px;
    width: 100%; */
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.stats {
    box-shadow: none;
    width: fit-content;
    text-align: left;
}

.stats ul {
    background-color: #CCCCCC;
    border-style: solid;
    margin: 0;
    padding: 20px;
    font-size: 20px;
}
